
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vw;
  display: grid;
  place-items: center;
  font-family: 'Poppins', sans-serif;
  transition : all 250ms ease-in-out;
}

a{
  text-decoration: none;
}

.content{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vw;
  background: #ebf3e8;
}

.f-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100vw;
  padding:10px;
}


.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding:10px;
}


.header span,
.header span a{
  font-size: 12px;
  color:#b8b9b7;
}

.header span a:hover{
  color:#7b7c7a;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 90%;
  background: #ebf3e8;

}

.multi-steps{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.step{
  display: flex;
  align-items: center;
  gap:5px;
  font-size: 10px;
  color: #b3b9b0;
}


/*
.active{
  font-weight: 700;
  color: #0f0f0f;
}

.active span{
  background: #0f0f0f;
  color: #fff;
}
*/

.step span{
  color: #b3b9b0;
  padding: 2px 7px;
  font-weight: 700;
  border-radius: 5px;
}

.forms-container{
  display:none;
  flex-direction: column;
  gap: 20px;
}

.active{
  display: flex;

}

input,
select{
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border:1px solid #ddd5d5;
  outline: none;
}

.section-title span{
  font-size: 11px;
  padding:15px 0;
  color: #868383;
}

.to_flex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.btn{
  background:#000;
  color: #ebf3e8;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  
}

.btn-next{
  width: 40%;
  background:#000;
  color: #ebf3e8;
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer; 
}

.btn:hover,
.btn-next:hover{
  background: #524f4f;
  
  }

.button{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.btn-back{
  background: #bfc0bd;
  width: 40%;
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
}



.btn-back:hover{
  border: 1px solid #acadaa;
}

.privacy a{
  color: #b3b9b0;
  font-size: 10px;
}

.privacy a:hover{
  color: #524f4f;
  text-decoration: underline;
}

.form-image{
  display: none;
}

.forms-container2{
  display: block;
}



@media screen and (min-width:1024px) {
  
  .content{
    height: 600px;
    width:60%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 1px 4px #524f4f;
  }

  .f-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding:10px;
  }

  .form{
    width: 50%;
    height: 600px;
  }
  
  .form-image{
    width: 50%;
    height: 600px;
    overflow: hidden;
    display: initial;
  }
  
  .form-image img{
    width:100%;
    object-fit:cover;
    height: 600px;
  }


}

